{% extends 'partials/base.html' %}

{% block title %} login Page {% endblock title %}

{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card p-3 mt-2">
                    <h5 class="card-title mt-3 text-center">User Login</h5> <hr>
                    <div>
                        {% if message %}
                            {% for message in messages %}
                                <div class="alert alert-info">{{ message }}</div>
                            {% endfor %}
                        {% endif %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger mt-3">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <form action="" method="post" class="px-5 mb-3">
                        {% csrf_token %}
                        <div class="input-group input-group mt-3">
                            <span class="input-group-text text-center" id="username" style="width: 50px;">
                                <i class="bi bi-person-fill-lock"></i>
                            </span>
                            {{ form.username }}
                        </div>
                        {% if form.username.errors %}
                            <div class="text-danger w-100">
                                {{ form.username.errors }}
                            </div>
                        {% endif %}
                        <div class="input-group input-group mt-3 text-center">
                            <span class="input-group-text text-center" id="password" style="width: 50px;">
                                <i class="bi bi-unlock"></i>
                            </span>
                            {{ form.password }}
                        </div>
                        {% if form.password.errors %}
                            <div class="text-danger w-100">
                                {{ form.password.errors }}
                            </div>
                        {% endif %}
                        <div class="mt-3 input-group">
                            <input type="submit" class="btn btn-success form-control" value="Login">
                        </div>
                        <div class="row mt-4">
                            <div class="col-4">
                                <a href="{% url 'password_reset' %}">Forgot Password</a>
                            </div>
                            <div class="col-8">
                                <p>
                                    Don't have an account? <strong><a href="{% url 'register' %}"> Register</a></strong>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}