{% extends 'partials/base.html' %}

{% block title %} User Registration {% endblock title %}

{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card p-3 mt-2">
                    <h5 class="card-title mt-3 text-center">User Registration</h5> <hr>
                    <div>
                        {% if message %}
                            {% for message in messages %}
                                <div class="alert alert-info">{{ message }}</div>
                            {% endfor %}
                        {% endif %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger mt-3">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <form action="" method="post" class="px-5 mb-3">
                        {% csrf_token %}
                        <div class="input-group input-group mt-3">
                            <span class="input-group-text text-center" id="first_name" style="width: 50px;">
                                <i class="bi bi-person"></i>
                            </span>
                            {{ form.first_name }}
                        </div>
                        {% if form.first_name.errors %}
                            <div class="text-danger w-100">
                                {{ form.first_name.errors }}
                            </div>
                        {% endif %}
                        <div class="input-group input-group mt-3">
                            <span class="input-group-text text-center" id="laast_name" style="width: 50px;">
                                <i class="bi bi-person-fill"></i>
                            </span>
                            {{ form.last_name }}
                        </div>
                        {% if form.last_name.errors %}
                            <div class="text-danger w-100">
                                {{ form.last_name.errors }}
                            </div>
                        {% endif %}
                        <div class="input-group input-group mt-3">
                            <span class="input-group-text text-center" id="email" style="width: 50px;">
                                <i class="bi bi-envelope-check"></i>
                            </span>
                            {{ form.email }}
                        </div>
                        {% if form.email.errors %}
                            <div class="text-danger w-100">
                                {{ form.email.errors }}
                            </div>
                        {% endif %}
                        <div class="input-group input-group mt-3">
                            <span class="input-group-text text-center" id="username" style="width: 50px;">
                                <i class="bi bi-person-fill-lock"></i>
                            </span>
                            {{ form.username }}
                        </div>
                        {% if form.username.errors %}
                            <div class="text-danger w-100">
                                {{ form.username.errors }}
                            </div>
                        {% endif %}
                        <div class="input-group input-group mt-3">
                            <span class="input-group-text text-center" id="password" style="width: 50px;">
                                <i class="bi bi-unlock"></i>
                            </span>
                            {{ form.password1 }}
                        </div>
                        {% if form.password1.errors %}
                            <div class="text-danger w-100">
                                {{ form.password1.errors }}
                            </div>
                        {% endif %}
                        <div class="input-group input-group mt-3">
                            <span class="input-group-text text-center" id="password2" style="width: 50px;">
                                <i class="bi bi-unlock-fill"></i>
                            </span>
                            {{ form.password2 }}
                        </div>
                        {% if form.password2.errors %}
                            <div class="text-danger w-100">
                                {{ form.password2.errors }}
                            </div>
                        {% endif %}
                        <div class="mt-3 input-group">
                            <input type="submit" class="btn btn-success form-control" value="Register">
                        </div>
                        <div class="row mt-4">
                            <div class="col-12">
                                <p class="text-center">
                                    Already have an account? <strong><a href="{% url 'login' %}">Login</a></strong>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!--DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
    <h2>SystUser Registration</h2>
    <div>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a> here.</p>
</body>
</html-->