{% extends 'partials/base.html' %}

{% block title %} 
    {% if form.instance.pk %} Update Issue {% else %} Report New Issue {% endif %}
{% endblock title %}

{% block content %}
    <h2>
        {% if form.instance.pk %}
            Updating Issue Details
        {% else %}
            Report An Issue
        {% endif %}
    </h2>
    <div>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            {% if form.instance.pk %} Update {% else %} Submit {% endif %}
        </button>
    </form>

{% endblock content %}