{% extends 'partials/base.html' %}

{% block title %} Dashboard {% endblock title %}

{% block content %}
    <h2>User Dashboard</h2>
    <div>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>
        <p><a href="{% url 'view_user_profile' %}">User Profile</a></p>
        <p>You are logged in <a href="{% url 'logout' %}">Logout</a> here</p>
        <p>Change Password <a href="{% url 'password_change' %}">Change Password</a></p>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}

    {% if request.user.user_type == 1 %}
        
        <p>
            View List of All Categories : <a href="{% url 'list_category' %}">Categories</a>
        </p>
        <p>
            Create New Category : <a href="{% url 'create_category' %}">New Category</a>
        </p>
        <p>
            View List of Reported Issues : <a href="{% url 'list_issue' %}">Reported Issues</a>
        </p>
    {% else %}
        <p>
            Report An Issue : <a href="{% url 'create_issue' %}">Report Issue</a>
        </p>
        <p>
            View My Reported Issues : <a href="{% url 'list_issue' %}">My Reported Issues</a>
        </p>
    {% endif %}
{% endblock content %}